// CSS RESET

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

// GENERAL STYLES

body {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    background-color: var(--color-bg);
    margin: 31px 24px 79px 24px;

    // 758/16=48
    @media only screen and (min-width: 48em) {
        margin: 140px 98px 236px 98px;
    }

    // 1200/16=75
    @media only screen and (min-width: 75em) {
        margin: 144px 100px 170px 100px;
    }
}

//

.main {
    max-width: 730px;
    margin: 0 auto;
}

//
