.header {
    max-width: 450px;
    margin: 0 auto 36px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

    @media only screen and (min-width: 48em) {
        max-width: 730px;
    }

    &__h1 {
        font-size: 26px;
        line-height: 39px;
        color: var(--color-logo);
        transition: color 0.2s;
    }

    &__theme {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        &__text {
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            color: var(--color-theme-button);
            transition: color 0.2s;
        }

        &__icon {
            fill: var(--color-theme-button);
            transition: fill 0.2s;
        }

        &:hover &__text,
        &:hover &__icon {
            color: var(--color-theme-button-hover);
            fill: var(--color-theme-button-hover);
        }
    }
}
