.header {
    max-width: 730px;
    margin: 0 auto 36px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 39px;
        color: var(--color-logo);
    }

    &__theme {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        &__text {
            font-weight: 700;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 2.5px;
            color: var(--color-theme-button);
            text-transform: uppercase;
            transition: color 0.2s;
        }

        &__icon {
            transition: fill 0.2s;
            fill: var(--color-theme-button);
        }

        &:hover &__text,
        &:hover &__icon {
            color: var(--color-theme-button-hover);
            fill: var(--color-theme-button-hover);
        }
    }
}
